
.vs
.git
bin/
obj/
node_modules/

*.template
*.sln

component.json
README.md
.gitattributes
.gitignore
*.txt
*.csproj
*.csproj.user
*.bat
*.ps1

# Definitions

jsnlog.d.ts
jsnlog.export.d.ts
jsnlog.jl.d.ts
DefinitionsGenerator/



