{
  "name": "jsnlog.js",
  "repo": "component/jsnlog.js",
  "description": "Tiny JavaScript logging library, simple and well documented. Lots of options to filter logging data. Sends log data to the server using AJAX.",
  "version": "__Version__",
  "keywords": ["logging", "debugging",	"dev", "development"],
  "dependencies": {},
  "development": {},
  "license": "MIT",
  "scripts": [
    "jsnlog.js"
  ]
}

